Xft.dpi: 96
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.antialias: true

urxvt.scrollBar: false
urxvt.font: xft:Iosevka Term Light:pixelsize=18
urxvt.boldFont: xft:Iosevka Term Light:bold:pixelsize=18

URxvt.depth: 32
URxvt.transparent: false
URxvt.fading: 0
URxvt.loginShell: true
URxvt.saveLines: 20000
URxvt.internalBorder: 5
URxvt.lineSpace: 0

! Fix Ctrl+Arrow
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! Bindings for font-resize
URxvt.keysym.C-S-Up: font-size:increase
URxvt.keysym.C-S-Down: font-size:decrease
URxvt.keysym.C-0: font-size:reset
URxvt.keysym.C-equal: font-size:show

! Disable keycap picture insert mode
URxvt.iso14755: false
URxvt.iso14755_52: false

! Molokai
! https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/Xresources/Molokai
*.foreground:  #bbbbbb
*.background:  #121212
*.cursorColor: #bbbbbb
! Black
*.color0:      #121212
*.color8:      #555555
! Red
*.color1:      #fa2573
*.color9:      #f6669d
! Green
*.color2:      #98e123
*.color10:     #b1e05f
! Yellow
*.color3:      #dfd460
*.color11:     #fff26d
! Blue
*.color4:      #1080d0
*.color12:     #00afff
! Magenta
*.color5:      #8700ff
*.color13:     #af87ff
! Cyan
*.color6:      #43a8d0
*.color14:     #51ceff
! White
*.color7:      #bbbbbb
*.color15:     #ffffff
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:
