Xft.dpi: 96
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.antialias: true

urxvt.scrollBar: false
urxvt.font: xft:Iosevka Term Light:pixelsize=18
urxvt.boldFont: xft:Iosevka Term Light:bold:pixelsize=18

URxvt.depth: 32
URxvt.transparent: false
URxvt.fading: 0
URxvt.loginShell: true
URxvt.saveLines: 20000
URxvt.internalBorder: 5
URxvt.lineSpace: 0

! Fix Ctrl+Arrow
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! Bindings for font-resize
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

! Base16 Harmonic16 Dark
! Scheme: Jannik Siebert (https://github.com/janniks)

#define base00 #0b1c2c
#define base01 #223b54
#define base02 #405c79
#define base03 #627e99
#define base04 #aabcce
#define base05 #cbd6e2
#define base06 #e5ebf1
#define base07 #f7f9fb
#define base08 #bf8b56
#define base09 #bfbf56
#define base0A #8bbf56
#define base0B #56bf8b
#define base0C #568bbf
#define base0D #8b56bf
#define base0E #bf568b
#define base0F #bf5656

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07
